@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    font-family: "Inter",sans-serif;
}
.logo{
    width: 25px;
}
.text-hover-blue:hover{
    color: #1c1cff;
}
.bg-blue{
    background-color: #1c1cff;
}
.text-gray{
    color: #666666;
}
.focus-gray:focus{
    background-color: #f2f2f2;
}
.hover-gray:hover{
    background-color: #f2f2f2;
}
/* @media screen and (min-width:992px){
    .h-md{
        height: 82.5vh;
    }
} */
.hover-blue{
    color: black;
}
.hover-blue:hover{
    color: #1c1cff;
}
.b-shadow{
    transition: all .2s;
}
.b-shadow:hover{
    
    box-shadow: 4px 4px lightgray;
}
.scale-hover{
    transition: all .3s;
}
.scale-hover:hover,.scale-active:active{
    box-shadow: 0 0 ;
    transform: scale(1.03);
}
.bg-aqua{
    background-color: #e9fbfa;
}
.bg-hover-gray:hover{
    background-color: lightgray;
}
.img-1{
    background: url(/assets/img/wallet.webp) no-repeat center;
    background-color: #e9fbfa;
    background-size: contain;
    height: 300px;
}
.img-2{
    background: url(/assets/img/eth.png) no-repeat center;
    height: 300px;
    background-size: contain;
    background-color: #e9fbfa;
    background-blend-mode: multiply;
    height: 300px;
}
.img-3{
    background: url(/assets/img/doge-computer.webp) no-repeat center;
    background-color: #e9fbfa;
    background-size: contain;
    height: 300px;
}
.img-4{
    background: url(/assets/img/developers-eth-blocks.webp) no-repeat center;
    background-color: #e9fbfa; 
    height: 300px;
}
.b-shadow-purple{
    box-shadow: 4px 4px #d2d2f9;
}
